<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Employee</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">Employee</a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">Datatables</a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">All Employee</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="basic-datatables" class="display table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>Employee Code</th>
                                            <th>FullName</th>
                                            <th>Role</th>
                                            <th>Manpower</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Employee Code</th>
                                            <th>FullName</th>
                                            <th>Role</th>
                                            <th>Manpower</th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        @if (ViewBag.Employees != null)
                                        {
                                            { foreach (var item in ViewBag.Employees)
                                                {
                                                    <tr>
                                                        <td>@item.EmployeeCompanyId</td>
                                                        <td>@item.FullName</td>
                                                        @foreach (var role in ViewBag.Roles)
                                                        {
                                                            if (item.RoleId == role.Id)
                                                            {
                                                                <td>@role.Description</td>
                                                            }
                                                        }
                                                        <td style="color:forestgreen">@item.Manpower</td>
                                                        <td><a href="@Url.Action("Update", "Employee", new { empId = item.Id })" style="color:forestgreen">Manager</a></td>
                                                    </tr>
                                                }
                                            }
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container-fluid">
            <nav class="pull-left">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.themekita.com">
                            ThemeKita
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Help
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Licenses
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright ml-auto">
                2018, made with <i class="fa fa-heart heart text-danger"></i> by <a href="https://www.themekita.com">ThemeKita</a>
            </div>
        </div>
    </footer>
</div>