<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Projects</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">Tables</a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">Datatables</a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">All Project</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="basic-datatables" class="display table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Status</th>
                                            <th>Start date</th>
                                            <th>End date</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Status</th>
                                            <th>Start date</th>
                                            <th>End date</th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        @if (ViewBag.Projects != null)
                                        {
                                            { foreach (var item in ViewBag.Projects)
                                                {
                                                    <tr>
                                                        <td>@item.ProjectCompanyId</td>
                                                        <td>@item.Description</td>
                                                        @{ foreach (var status in ViewBag.Status)
                                                            {
                                                                if (item.StatusId == status.Id)
                                                                {
                                                                    if (item.StatusId == 2)
                                                                    {
                                                                        <td style="color:forestgreen">@status.Description</td>
                                                                    }
                                                                    else if (item.StatusId == 3)
                                                                    {
                                                                        <td style="color:orange">@status.Description</td>
                                                                    }
                                                                    else if (item.StatusId == 4)
                                                                    {
                                                                        <td style="color:red">@status.Description</td>
                                                                    }
                                                                    else if (item.StatusId == 5)
                                                                    {
                                                                        <td style="color:red">@status.Description</td>
                                                                    }
                                                                    else if (item.StatusId == 6)
                                                                    {
                                                                        <td style="color:black">@status.Description</td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td>@status.Description</td>
                                                                    }
                                                                }
                                                            };
                                                        }
                                                        <td>@item.StartDate</td>
                                                        <td>@item.EndDate</td>
                                                        <td><a href="@Url.Action("Manager", "Project", new { projectId = item.Id, companyId = item.ProjectCompanyId})" style="color:forestgreen">Manager</a></td>
                                                    </tr>
                                                                    };
                                                                }
                                                            }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container-fluid">
            <nav class="pull-left">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.themekita.com">
                            ThemeKita
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Help
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Licenses
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright ml-auto">
                2018, made with <i class="fa fa-heart heart text-danger"></i> by <a href="https://www.themekita.com">ThemeKita</a>
            </div>
        </div>
    </footer>
</div>