<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Project</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">Project</a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">Manager</a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">@ViewBag.ProjectName</div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 col-lg-4">
                                    <div class="form-group">
                                        @using (Html.BeginForm("AddWorkTime", "Project", FormMethod.Post))
                                        {
                                            <input type="hidden" value="@ViewBag.EmpId" name="empId" />
                                            <input type="hidden" value="@ViewBag.ProjectId" name="projectId" />   
                                            <input type="hidden" value="@ViewBag.ProjectName" name="projectName" />
                                            <label for="defaultSelect">Add Work Time</label>
                                            <div class="input-group">
                                                <select class="form-control form-control" id="defaultSelect" name="workHours">
                                                    @{
                                                        //foreach (var item in ViewBag.Status)
                                                        for (int i = 1; i < 15; i++)
                                                        {
                                                            if (i == 1)
                                                            {
                                                                <option value="@i">@i hour</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@i">@i hours</option>
                                                            }
                                                        }
                                                    }
                                                </select>
                                                <div class="input-group-prepend">
                                                    <button class="btn btn-default btn-border" type="submit">Add</button>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="basic-datatables" class="display table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>Employee ID</th>
                                            <th>Name</th>
                                            <th>Date(dd/mm/yyyy)</th>
                                            <th>Work Time</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Employee ID</th>
                                            <th>Name</th>
                                            <th>Date(dd/mm/yyyy)</th>
                                            <th>Work Time</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        @{
                                            foreach (var item in ViewBag.WorkTimeDetail)
                                            {
                                                <tr>
                                                    <td>@item.Id</td>
                                                    <td>@item.Description</td>
                                                    <td style="color:forestgreen">@item.WorkDate</td>
                                                    <td>@item.WorkTime hours</td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container-fluid">
            <nav class="pull-left">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.themekita.com">
                            ThemeKita
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Help
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Licenses
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright ml-auto">
                2018, made with <i class="fa fa-heart heart text-danger"></i> by <a href="https://www.themekita.com">ThemeKita</a>
            </div>
        </div>
    </footer>
</div>
